//- color texto -//
.colortext1
  color: #15616D

.colori
  color: #FF7D00


//- tamaños imagenes -//
.img40
  max-width: 40px !important
.img90
  max-width: 90px !important
.img160
  max-width: 160px !important
.img200
  max-width: 200px !important
.img250
  max-width: 250px !important
.img300
  max-width: 300px !important
.img350
  max-width: 350px !important
.img450
  max-width: 450px !important
.img600
  max-width: 600px !important
.img900
  max-width: 900px !important


//- justificar contenido -//

.justify-star
  display: flex
  flex-wrap: wrap
  align-items: normal
  justify-content: flex-start
  flex-direction: row

.justify-end
  display: flex
  flex-wrap: wrap
  align-items: normal
  justify-content: flex-end
  flex-direction: row

.justify-center
  display: flex
  flex-wrap: wrap
  align-items: normal
  justify-content: center
  flex-direction: row

.justify-space-around
  display: flex
  flex-wrap: wrap
  align-items: normal
  justify-content: space-around
  flex-direction: row

.justify-space-between
  display: flex
  flex-wrap: wrap
  align-items: normal
  justify-content: space-between
  flex-direction: row

.justify-space-evenly
  display: flex
  flex-wrap: wrap
  align-items: normal
  justify-content: space-evenly
  flex-direction: row

.justify-stretch
  display: flex
  flex-wrap: wrap
  align-items: normal
  justify-content: stretch
  flex-direction: row

//- alinear contenido -//

.align-items-center
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: flex-start
  flex-direction: row

.align-items-end
  display: flex
  flex-wrap: wrap
  align-items: flex-end
  justify-content: flex-start
  flex-direction: row

.align-items-star
  display: flex
  flex-wrap: wrap
  align-items: flex-start
  justify-content: flex-start
  flex-direction: row

//- tamaño contenedores -//
.cont1bgr
  background-color: #079BB2
  max-width: 450px !important
  max-height: 592px !important
.cont2bgr
  background-color: #9BD4DE
  max-width: 450px !important
  max-height: 592px !important
.cont3bgr
  background-color: #8BDAE6
.cont4bgr
  max-width: 505px !important
  max-height: 268px !important
.cont5bgr
  background-color: #FFD9B4
  color: $black !important
.cont6bgr
  background-color: #F9C852
  max-width: 1238px !important
.cont7bgr
  background-color: #F9C852
.cont8bgr
  background-image: url("../assets/curso/tema1/t1-38.svg")
  max-width: 100%
.cont9bgr
  background-color: #F7E7CF
  width: 50% !important
  height: 100% !important
  display: flex
  align-items: center
  flex-direction: row
.cont10bgr
  background-color: #C8EEF3
  max-width: 400px !important
.cont11bgr
  background-color: #C8EEF3
.cont12bgr
  background: rgb(248,228,183);
  background: linear-gradient(0deg, rgba(248,228,183,1) 0%, rgba(237,202,126,1) 100%);
.cont13bgr
  background-color: #F7E7CF
  border-radius: 10px
.cont14bgr
  background-color: #8BDAE6
  border-radius: 10px
.cont15bgr
  background: rgb(225,222,218);
  background: linear-gradient(0deg, rgba(225,222,218,1) 0%, rgba(113,111,109,1) 100%);


//- clases sobre escritas- //
.tarjeta.color-primario *
  color: $black !important
.tarjeta-flip.color-primario .tarjeta-flip__contenido
  background-color: #FFD9B4

.tarjeta--azul
  background: rgb(142,175,220);
  background: linear-gradient(45deg, rgba(142,175,220,0.2049194677871149) 0%, rgba(112,138,173,0.20211834733893552) 75%, rgba(71,88,110,0.2049194677871149) 100%);

.bloque-texto-g.color-secundario
  background-color: #15616D !important
  
.bloque-texto-a.color-secundario
  background-color: #B8E0E6 !important

.bloque-texto-a.color-secundario:before
  background-color: #0AB1CB !important

.tarjeta.color-acento-botones--borde
  background-color: #7CC5FF !important
.tarjeta.color-primario
  background-color: #FFFFFF!important
  border: solid 2px $color-primario